body{
    background-image: url('image/hinhnen4.jpg');
    margin: 0px;
}
header{
    width: 100%;
    height: 50px;
    max-height: 100px;
    position: relative;
    background-color: #000033;
    z-index: 1;
}
.logo img{
    height: 80px;
    width: 80px;
    z-index: 2;
    float: left;
    margin-left: 5%;

}
.hotro{
    width: 20%;
    float: left;
}
.hotro a{
    display: inline-block;
    margin-left: 20px;
    color: white;
    text-decoration: none
}
.hotro a:hover{
    
}
.login{
    height: 100%;
    width: 10%;
    float: left;
}
.login input[type=button]{
    padding: 5px;
    color: white;
    background-color: #0066ff;
    border: none;
    margin-top: 10px;
    cursor: pointer;

}
.muc ul{
    
    list-style-type: none;
    width: 50%;
    height: 60px;
    display: block;
    float: left;
    margin: 0px;
    color: #0066ff
}
.muc ul li{
    display: inline-block;
}
.muc ul li img{
    margin-top: 10px;
    height: 30px;
    width: 30px;
}
/*------------ dang nhap */
.formlogin{
    display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
.formlogin form{
    position: relative;
    width: 300px;
    height: 300px;
    left: 40%;
    top: 100px;
    background-color: #f2f2f2;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 2px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
#btlogin {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
  }
    
.thoat{
    width: 20px;
    height: 20px;
    background-color: #4CAF50;
    font-size: 20px;
    padding-bottom: 5px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 40px;
    border-radius: 2px;
    color: white
}
.thoat:hover{
    color: red;
    opacity: 0.8;
}
/*-------------- gioi thieu --*/
.ten{
    position: absolute;
    width: 80%;
    height: 50px;
    clear: left;
    margin-top: -30px;
    left: 10%;
    background-color: #0066ff;
    text-align: center
}
.ten span{
    
    font-size: 35px;
    color: white;
    
}

/*------------------- slide show-*/

section{
    position: relative;
    
    width: 86%;
    clear: left;
    left: 7%;
    margin-top: 10px
}
.slideshow{
    width: 100%;
    height: 400px;
    position: relative;}
#myImage{
    left: 0%;
    display: inline-block;
    position: absolute; 
    width: 100%;
    height: 100%;
    z-index: -1;
}
#myImage2{
    left: 0%;
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 0%;
    z-index: 0;
}
/*gioithieu 2*/

.tiennghi{
    color: #0066ff;
    background-color: white;
    border: none
}
.tiennghi legend{
    font-size: 25px;
}
.diachi{
    margin-left: 20px;
    padding-top: 30px;
}
.diachi img{
    height: 30px;
    width: 30px;
    float: left;
    margin-bottom: 0px;
}
.diachi p{
    width: 90%;
    float: left;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 40px
}
.tiennghi1{
    padding-left: 15%;
}
.tiennghi1 div{
    border-right: 1px solid gray;
    height: 90px;
    width: 110px;
    position: relative;
    float: left;
    font-size: 20px;
    margin-left: 20px;
    padding-left: 20px;
    color: gray
}
.tiennghi1 div:hover{
    z-index: 1;
}
.tiennghi1 div img{
    height: 45px;
    width: 50px;
    margin-left: 10px
}
.gioithieutn {
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
/* tim kiem */
.thongtinphong{
    background-color: white;
    margin-top: 30px;
    width: 90%;
    position: relative;
    left: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    border: none
}
.thongtinphong legend{
    color: black;
    font-size: 25px
}

.phong{
    margin-top: 80px;
    margin-left: 4%;
    position: relative;
    border: 1px solid white;
    width: 280px;
    height: 250px;
    float: left;
    background-color: #f2f2f2;
   
}
.phong:hover{
    border: 1px solid gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.phong div img{
    position: absolute;
    display: block;
    width: 100%;
    height: 170px;
}

.phong div ul{
    position:absolute;
    display: block;
    margin: 0;
    bottom: 0px;
    left: 10%;
    width: 70%;
    color: #4CAF50;
    font-size: 15px
}

/*tim kiem */
.timphong{
    background-color: #f2f2f2;
   margin-top: 10px;
   height: 50px;
   width: 100%;
   top: 0;
   position: sticky;
   z-index: 1;
   clear: left;
   padding:10px 0px;
   border-top: 1px solid gray;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
   border-radius: 5px;
}
.tuychonTimkiem{
    background-color: white;
    width: 210px;
    height: 50px;
    padding-left: 3%;
    float: left;
    margin-left: 50px;
    border-right: 1px solid gray;
    border-radius: 10px;
    border: 1px solid white
}
.tuychonTimkiem:hover{
    border: 1px solid gray
}
.tuychonTimkiem img{
    display: block;
    width: 15%;
    height: 100%;
    float: left;
}
.mttuychonTimkiem{
    width: 80%;
    height: 100%;
    float: left;
    margin-top: 5px;
    margin-left: 10px
}
.mttuychonTimkiem p{
    display: block;
    padding-left: 10px;
    margin: 0px;
    color: gray;
    font-size: 15px
}
.mttuychonTimkiem select{
    margin-left: 10px;
    font-size: 16px;
    border: none;
}
#nuttimkiem{
    width: 100px;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;
}
/*phan gioi thieu*/
.gioithieu{
    background-color: white;
    margin-top: 30px;
    width: 90%;
    position: relative;
    font-size: 17px;
    left: 5%;
    border: none;
    border-top: 1px solid gray
}
.gioithieu legend{
    color: black;
    font-size: 25px
}
/*-------*/
.hiendatphong{
    /* Hidden by default */
     position: fixed; /* Stay in place */
     z-index: 1; /* Sit on top */
     left: 0;
     top: 0;
     width: 100%; /* Full width */
     height: 100%; /* Full height */
     overflow: auto; /* Enable scroll if needed */
     background-color: rgb(0,0,0); /* Fallback color */
     background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
     padding-top: 60px;
   
   }
   
   .ctphong{
       width: 70%;
       height: 580px;
       overflow: auto;
       left: 15%;
       position: relative;
       background-color: #f2f2f2;
       padding-left: 30px
      
   }
   
   .anhcuaphong{
       float: left;
   }
   .chitiettungphong{
       padding-left: 10px;
       width: 60%;
       float: right;
       
   }
   .giatiendatphong{
       width: 200px;
       float: left;
       margin-left: 80px;
       
   }
   .giatiendatphong p{
       color: coral;
       font-size: 20px
   }
   .giatiendatphong button{
       width: 100px;
       height: 50px;
       background-color: coral;
       color: white;
       font-size: 15px;
       border: none;
       border-radius: 3px;
       margin-left: 20px;
       cursor: pointer;
   }
/*--------*/
footer{
    width: 100%;
    height: 100px;
    background-color: #000033;
    clear: left;
}